.header {
  background-color: black;
  height: 90px;
  border-bottom: 5px outset #FFFFFF;
}

.header_logo {
  color: white;
  font-family: 'SimHei';
  font-size: 50px;
  padding: 20px 40px;
  float: left;
}

.header_list li {
  list-style: none;
  float: left;
  padding: 20px 40px;
}

.header_list {
  color: white;
  float: left;
}

.topLink {
  color: white;
}

.topLink:hover {
  color: #rgb(152, 117, 224);
  font-weight: bold;
}

.main {
  background-color: #696969;
  height: 700px;
}

.contents_item {
  float: left;
  margin-top: 60px;
  margin-right: 50px;
}

.aoki_text {
  color: white;
}

.mori_text {
  color: white;
}

.yokoi_text {
  color: white;
}

/* whatskoengineer用のcss */
.whatskoeng_title {
  color: white;
  margin: 0;
  padding: 70px 100px;
  font-family: 'SimHei';
}

.whatskoeng_exp {
  color: white;
  margin-top: 0;
  padding-left: 150px;
  font-family: 'SimHei';
  font-size: 25px;
}

/* footer用のcss */
.footer {
  background-color: rgba(31, 29, 29, 0.9);
  color: white;
  height: 140px;
  padding: 40px;
  margin: 0;
}

.footer_logo {
  color: white;
  float: left;
  font-size: 30px;
}

.footer_list {
  color: white;
  float: right;
}

.footer_list li {
  list-style: none;
  padding-bottom: 30px;
  padding-right: 20px;
}
